.slider {
    position: relative;
    width: 100%;

    &__container {
        overflow: hidden;
        margin-bottom: 16px;
    }
    &__list {
        display: flex;
        transition: transform 0.5s ease;    
    }
    &__item {
        flex-shrink: 0;
    }
    &__controls {
        @include flex(flex, center, center, row);
        gap: 8px;
    }
    &__tabs {
        @include flex(flex, initial, center, row);
        gap: 8px;
    }
    &__tab {
        display: flex;
        border-radius: 50%;

        &_active {
            padding: 8px;
            border: 1px solid $slider-tab-color-active;
        }
    }
    &__dot {
        display: inline-block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: $slider-tab-color-primary;

        &_active {
            transform: scale(2);
            background-color: $slider-tab-color-active;
        }
    }
}

#slider-for-heading {
    & .slider__controls {
        display: flex;
        & .prev, & .next {
            display: none;
        }
    }
}
#slider-for-business {
    & .slider__controls {
        display: none;
    }
}
#slider-for-study {
    & .slider__controls {
        display: none;
    }
}
#slider-for-news {
    & .slider__controls {
        display: none;
    }
}