.slider {
    @include flex(flex, initial, center, column);
    
    &__image-list {
        display: flex;
        flex-shrink: 0;
        margin-bottom: 16px;
        width: 100%;
        overflow: hidden;
    }

    
}