.slider {
    width: 100%;
    overflow: hidden;

    &__list {
        display: flex;
        width: 100%;
        height: 100%;
        transform: translate(0);
        transition: transform 0.5s ease;  
        touch-action: none;
    }

    &__item {
        flex-shrink: 0;
        width: 100%;
        height: 100%;
    }

    &__controls {
        @include flex(flex, center, center, row);
        gap: 8px;

        & .prev, & .next {
            display: flex;
            background-color: #fff;
            border: none;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            background: #fff url(../images/icons/arrow-left.svg) no-repeat center / 20px ;
            transition: .3s;
            cursor: pointer;

            &:hover {
                cursor: pointer;
            }
        }

        & .prev {
            transform: rotate(0deg);

            &:hover {
                transform: rotate(0deg) scale(1.2);
            }
        }

        & .next {
            transform: rotate(180deg);

            &:hover {
                transform: rotate(180deg) scale(1.2);
            }
        }
    }

    &__tabs {
        @include flex(flex, initial, center, row);
        gap: 8px;
    }

    &__tab {
        display: flex;
        border-radius: 50%;

        &_active {
            padding: 8px;
            border: 1px solid $slider-tab-color-active;
        }
    }

    &__dot {
        display: inline-block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: $slider-tab-color-primary;

        &_active {
            transform: scale(2);
            background-color: $slider-tab-color-active;
        }
    }

    &.no-transform {
        transform: none;
    }
}

#slider-for-heading {
    & .slider__controls {
        display: flex;

        & .prev, & .next {
            display: none;
        }
    }
}

#slider-for-business {
    & .slider__item {
        width: 240px;
    }

    & .slider__controls {
        display: none;
    }
}

#slider-for-study {
    & .slider__item {
        width: 280px;
        height: auto;
    }

    & .slider__controls {
        display: none;
    }
}

#slider-for-news {
    & .slider__item {
        width: 292px;
    }

    & .slider__controls {
        display: none;
    }
}

@media screen and (min-width: $res-laptop) {
    #slider-for-heading {
        width: 50%;
        height: 742px;
        
        & .slider__list {
            margin: 0;
        }

        & .slider__controls {
            position: absolute;
            bottom: 50px;
            left: 40px;

            & .prev, & .next {
                display: flex;
            }
        }
    }

    #slider-for-business {
        & .slider__item {
            width: 360px;
        }

        & .slider__controls {
            display: flex;
            margin-top: 32px;

            & .prev, & .next {
                 background-color: #FFF0F5;   
            }
        }
    }

    #slider-for-study {
        & .slider__item {
            width: 360px;
        }
    }
}

@media screen and (min-width: $res-desktop) {
    #slider-for-heading {
        & .slider__controls {
            left: calc(50% - 600px);
        }
    }
}