.header {
    padding: 0 16px;
    height: 72px;
    @include flex(flex, initial, center, row);

    &__lang {
        margin-left: 24px;
        border: none;
        border-radius: 12px;
        padding: 10px 15px;
        @include font(14px, 400, 16px);
        color: $font-color-primary;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: #F6EEE8;
        cursor: pointer;
    }

    &__menu {
        margin-left: auto;
    }
}

@media screen and (min-width: $res-tablet) {
    .header {
        padding: 0 40px;
    }
}

@media screen and (min-width: $res-laptop) {
    .header {
        height: 100px;
    }
}

@media screen and (min-width: $res-desktop) {
    .header {
        padding: 0 calc(50% - 600px);
    }
}