.arrow-drop {
    &_type_menu {
        &:after {
            margin-left: 10px;
            content: url(../images/icons/arr-select.svg);
            display: inline-flex;
            transition: transform .3s;
        }
    }

    &_type_submenu {
        &:after {
            content: '';
        }
    }
}
.arrow-drop_open {
    &::after {
        transform: rotate(180deg);
    }
}

@media screen and (min-width: $res-laptop) {
    .arrow-drop_type_menu::after {
        content: '';
    }
    .arrow-drop_type_submenu {
        &::after {
            margin-left: 10px;
            content: url(../images/icons/arr-select.svg);
            display: inline-flex;
            transition: .4s;
            transform: rotate(-90deg);
        }
        &:hover::after {
            margin-left: 20px;
        }
    }
}