.heading {
    background-color: $background-secondary;

    &__image-list {
        flex-shrink: 0;
        margin-bottom: 16px;
        width: 100%;
    }

    &__image {
        width: 100%;
        min-width: 360px;
        height: 314px;
        object-fit: cover;
        object-position: center;
        pointer-events: none;
        display: flex;
    }

    &__title {
        @include font(40px, 600, 52px);
        margin-top: 24px;
        margin-bottom: 12px;
    }

    &__subtitle {
        @include font(24px, 400, 32px);
        margin-bottom: 24px;
    }

    &__button {
        padding: 30px 0;
        width: 100%;
        margin-bottom: 36px;
    }
}

@media screen and (min-width: $res-laptop) {
    .heading {
        @include flex(flex, initial, center, row-reverse);
        position: relative;
        min-height: 742px;
        box-sizing: border-box;

        &__image {
            height: 100%;
        }

        &__title {
            @include font(64px, 600, 80px);
        }

        &__subtitle {
            @include font(24px, 400, 32px);
        }

        &__button {
            width: 240px;
        }
    }
}