.about {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;

    &__description {
        @include font(24px, 500, 32px);
        margin-bottom: 24px;
    }

    &__button {
        padding: 30px 0;
        width: 70%;
    }
}

@media screen and (min-width: $res-laptop) {
    .about {
        padding-top: 144px;
        padding-bottom: 234px;
        @include flex(flex, center, center, column);

        &__description {
            @include font(32px, 500, 48px);
            margin-bottom: 42px;
            width: 896px;
        }

        &__button {
            width: 240px;
        }
    }
}