.about {
    text-align: center;
    padding: 120px 16px;

    &__description {
        @include font(24px, 500, 32px);
        margin-bottom: 24px;
    }

    &__button {
        padding: 30px 0;
        width: 70%;
    }
}

@media screen and (min-width: $res-tablet) {
    .about {
        padding: 120px 40px;
    }
}

@media screen and (min-width: $res-laptop) {
    .about {
        padding: 160px 40px;
        @include flex(flex, center, center, column);

        &__description {
            @include font(32px, 500, 48px);
            margin-bottom: 42px;
            width: 896px;
        }

        &__button {
            width: 240px;
        }
    }
}

@media screen and (min-width: $res-desktop) {
    .about {
        padding: 120px calc(50% - 600px);
    }
}