.footer {
    background-color: $background-secondary;
    padding: 25px 16px 90px;

    &__links {
        @include flex(flex, initial, center, row);
        gap: 26px;
    }

    &__menu {
        margin-top: 32px;
        @include flex(flex, initial, initial, row);
        gap: 20px;
        flex-wrap: wrap;
    }

    &__list {
        @include flex(flex, initial, initial, column);
        gap: 6px;
        width: 150px;
    }

    &__title {
        @include font(16px, 700, 19px);
    }

    &__link {
        @include font(14px, 400, 16px);
        transition: .4s;

        &:has(.social) {
            margin-left: auto;
        }
    }
}

@media (hover:hover) {
    .footer__link:hover {
        cursor: pointer;
        color: $font_color-hover;
    }
 }
 
 @media (hover:not()) {
    .footer__link:active {
        color: $font_color-hover;
    }
 }

@media screen and (min-width: $res-tablet) {
    .footer {
        padding: 25px 40px 90px;
    }
}

@media screen and (min-width: $res-laptop) {
    .footer {
        &__menu {
            justify-content: center;
        }
    }
}

@media screen and (min-width: $res-desktop) {
    .footer {
        padding: 32px calc(50% - 600px) 90px;
        @include flex(flex, initial, flex-start, row);

        &__menu {
            margin: 0 0 0 108px ;
            gap: 40px;
        }

        &__links {
            width: 185px;
            flex-wrap: wrap;
        }

        &__link {
            &:has(.social) {
                margin: 42px 0 0;
            }
        }
    }
}