.study {
    padding: 80px 16px 0;

    &__title {
        @include font(24px, 700, 32px);
    }

    &__cards {
        @include flex(flex, initial, initial, row);
        gap: 16px;
        padding: 22px 0 40px 16px;
    }
}

@media screen and (min-width: $res-tablet) {
    .study {
        padding: 80px 40px 0;
    }
}

@media screen and (min-width: $res-laptop) {
    .study {
        padding: 220px 40px 0;
        @include flex(flex, initial, center, column);

        &__title {
            @include font(44px, 700, 52px);
        }
    
        &__cards {
            gap: 24px;
            padding: 20px 40px 40px 40px;
        }
    }
}

@media screen and (min-width: $res-desktop) {
    .study {
        padding: 220px calc(50% - 600px) 0;
    }
}