$background-secondary: #C6D9DD;

$font-color-primary: #32334C;
$font-color-secondary: #777893;
$font-color-light: #FFFFFF;
$font-color-special: linear-gradient(258.75deg, #2D1178 25.04%, #DB2D8F 77.78%);
$font_color-hover: #9D097C;

$button-color: #9D097C;
$button-color-hover: #CD1BA5;

$slider-tab-color-primary: #32334C;
$slider-tab-color-active: #9D097C;

$res-mobile: 360px;
$res-tablet: 780px;
$res-laptop: 1024px;
$res-desktop: 1280px;