@font-face {
  src: url(../../vendor/fonts/gilroy-regular.ttf);
  font-family: "Gilroy";
  font-weight: 400;
}
@font-face {
  src: url(../../vendor/fonts/gilroy-medium.ttf);
  font-family: "Gilroy";
  font-weight: 500;
}
@font-face {
  src: url(../../vendor/fonts/gilroy-semibold.ttf);
  font-family: "Gilroy";
  font-weight: 600;
}
@font-face {
  src: url(../../vendor/fonts/gilroy-bold.ttf);
  font-family: "Gilroy";
  font-weight: 700;
}
.page {
  font-family: "Gilroy", "Gill Sans", sans-serif;
}

.text {
  display: inline;
  margin: 0;
}
.text_type_primary {
  color: #32334C;
}
.text_type_secondary {
  color: #777893;
}
.text_type_light {
  color: #FFFFFF;
}
.text_type_special {
  background-image: linear-gradient(258.75deg, #2D1178 25.04%, #DB2D8F 77.78%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button {
  font-family: "Gilroy";
  border: 1px solid #9D097C;
  border-radius: 16px;
  padding: 12px 18px;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  transition: 0.4s;
}
.button_type_primary {
  background: none;
  color: #9D097C;
}
.button_type_secondary {
  background: #9D097C;
  color: #FFFFFF;
}

@media (hover: hover) {
  .button_type_primary:hover {
    background: #CD1BA5;
    border: 1px solid #CD1BA5;
    color: #FFFFFF;
  }
}
@media (hover: none) {
  .button_type_primary:active {
    background: #CD1BA5;
    border: 1px solid #CD1BA5;
    color: #FFFFFF;
  }
}
@media (hover: hover) {
  .button_type_secondary:hover {
    background: #CD1BA5;
    border: 1px solid #CD1BA5;
  }
}
@media (hover: none) {
  .button_type_secondary:active {
    background: #CD1BA5;
    border: 1px solid #CD1BA5;
  }
}
.centering {
  padding: 0 16px;
}

.arrow-drop {
  display: inline-block;
}
.arrow-drop:after {
  margin-left: 10px;
  content: url(../images/icons/arr-select.svg);
  display: inline-block;
  transition: transform 0.3s;
}

.arrow-drop_open::after {
  transform: rotate(180deg);
}

.header {
  position: relative;
  height: 72px;
  display: flex;
  justify-content: initial;
  align-items: center;
  flex-direction: row;
}
.header__lang {
  margin-left: 24px;
  border: none;
  border-radius: 12px;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #32334C;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #F6EEE8;
}
.header__menu {
  margin-left: auto;
}

.logo {
  display: inline-flex;
}
.logo__image_type_main {
  width: 100px;
  height: 32px;
}
.logo__image_type_sub {
  width: 50px;
  height: 52px;
}

.menu__button {
  width: 16px;
  height: 14px;
  display: inline-flex;
  transition: opacity 0.4s;
}
.menu__button_type_trigger {
  background: url(../images/icons/menu-trigger.svg) center/contain no-repeat;
}
.menu__button_type_close {
  background: url(../images/icons/menu-close.svg) center/contain no-repeat;
}
.menu__list {
  display: flex;
  justify-content: initial;
  align-items: center;
  flex-direction: column;
  position: fixed;
  padding: 105px 0;
  box-sizing: border-box;
  right: 0;
  top: 72px;
  width: 100%;
  height: calc(100% - 72px);
  z-index: 10;
  background: #fff;
  overflow: scroll;
  transform: translate(100%);
  transition: transform 0.4s ease;
}
.menu__list_open {
  transform: translate(0);
}
.menu__list-item {
  transition: 0.4s;
  display: flex;
  justify-content: initial;
  align-items: center;
  flex-direction: column;
}
.menu__list-item:not(:last-of-type) {
  margin-bottom: 40px;
}
.menu__title {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}
.menu__dropdown-content {
  display: flex;
  justify-content: initial;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  height: 0;
  transition: 0.4s;
}
.menu__dropdown-content_open {
  gap: 20px;
  margin-top: 20px;
  opacity: 1;
  visibility: visible;
  height: auto;
}

@media (hover: hover) {
  .menu__button:hover {
    opacity: 0.5;
  }
}
@media (hover: none) {
  .menu__button:active {
    opacity: 0.5;
  }
}/*# sourceMappingURL=index.css.map */